<div class="board" >
  <% board.map.with_index do |cell,idx| %>
    <% cell_class = "cell" %>
    <% cell_class += " empty" unless cell.present? %>
    <% cell_class += " winner" if cell == winner_symbol %>

    <div id="<%= "cell-#{idx}" %>" class="<%= cell_class %>">
      <% if cell.present? %>
        <%= render partial: "cell", locals: { cell: } %>
      <% else %>
        <%= render partial: "empty_cell", locals: { next_symbol: next_symbol, game: game, idx: } %>
      <% end %>
    </div>
  <% end %>
</div>
