<div>
  <% if games.present? %>
    <h2>Previous games</div>
    <ui>
      <% games.map do |game| %>
        <li>
          <%= link_to "Game ##{game.id}", game_path(game) %>
          <%= game.state %>
        </li>
      <% end %>
    </ui>
  <% end %>
</div>
