<h1>Game #<%= @game.id%></h1>
<%= link_to "Back", root_path %>

<div class="content">
  <%= render partial: "board",
    locals: { board: @board, game: @game, win_combination: @win_combination, next_symbol: @next_symbol } 
  %>
</div>
