<h1 class="mdc-typography--headline1">
  <%= t("game.title", number: @game.id) %>
</h1>

<%= link_to t("game.return_back"), root_path, class: "mdc-button" %>

<%= render partial: "board",
  locals: { board: @board, game: @game, win_combination: @win_combination, next_symbol: @next_symbol }
%>
<%= render partial: "moves",
  locals: { moves: @moves }
%>

